<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>酒店客房后台管理系统</title>
	<style>
		#bigbox{
			height:100%;
			width:100%;
		}
	</style>
</head>
<body>
	<div id="bigbox"></div>
	<script src="/dist/index.bundle.js"></script>
</body>
</html>